<br/>
<div class="jumbotron">
  <h1>Welcome to Blocipedia</h1>
  <p id= "index-title" >Blocipedia:  Social, Markdown Wikis</p>
  <p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class:'bnt btn-primary' %> today!
  </p>
</div>  


